
    
    <!doctype html>
<html lang="pt-br">
  <%-include ./parts/head.ejs %>
  <body>
    
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="img/Persona360LogoTexto.svg" height="55rem"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" id="navul">
        
      </ul>
      <div class="d-flex" id="navavatar">
       
      </div>
    </div>
  </div>
</nav>

<main class="flex">
  <div class="p-4">
    <form>
      <h1 class="h3 mb-3 fw-normal">Informe suas credenciais</h1>
  
      <div class="form-floating mb-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Acessar</button>
    </form>
  </div>
</main>

<%-include ./parts/js.ejs %>
      
  </body>
</html>
<!--

    Entity: Conteudo
    <br>
    Layer: view
    <br>
    Module: update
    <br>
    Fields: [{"name":"tag","type":"String","length":"1000","null":false,"default":false,"searchable":true,"form":{"label":"Tag","type":"text","value":"","required":true,"placeholder":"Escreva as tags no formato #noticia #home #cursos"}},{"name":"titulo","searchable":true,"type":"String","length":"300","null":false,"default":false,"form":{"label":"Título","type":"text","value":"","required":true,"placeholder":"Digite o título do seu conteúdo (máximo 300 caracteres)"}},{"name":"subTitulo","searchable":true,"type":"String","length":"1200","null":false,"default":false,"form":{"label":"Subtítulo","type":"text","value":"","required":true,"placeholder":"Digite um subtítulo para o seu conteúdo (máximo 1200 caracteres)"}},{"name":"imagem","type":"String","length":"1000","null":false,"default":false,"form":{"label":"Endereço da Imagem Principal","type":"url","value":"","required":true,"placeholder":"Exemplo: https://persona360.com.br/img/logopersona.png"}},{"name":"conteudo","searchable":true,"type":"String","length":"5000","null":false,"default":false,"form":{"label":"Digite o conteudo do seu conteúdo","type":"text-area","value":"","required":true,"placeholder":"Digite seu conteúdo. Máximo de 5000 caracteres"}},{"name":"comentar","type":"Boolean","length":"","null":false,"default":false,"form":{"label":"Ativar comentários","type":"check-box","value":"1","required":true,"placeholder":false}},{"name":"publicar","type":"Boolean","length":"","null":false,"default":false,"searchable":false,"form":{"label":"Ativar publicação","type":"check-box","value":"1","required":true,"placeholder":false}},{"name":"privado","type":"Boolean","length":"","null":false,"default":false,"searchable":false,"form":{"label":"Privado (somente usuários autenticados podem ler)","type":"check-box","value":"1","required":true,"placeholder":false}},{"name":"dataInicioPublicacao","type":"Date","length":"","null":false,"default":"Date()","searchable":false,"form":{"label":"Data início da publicação (dia que entra no ar a partir das 00:00)","type":"Date","value":"","required":true,"placeholder":false}},{"name":"dataFinalPublicacao","type":"Date","length":"","null":true,"default":false,"searchable":false,"form":{"label":"Data final da publicação (dia que sai no ar a partir das 00:00) - Vazio deixa a publicação eterna","type":"Date","value":"","required":true,"placeholder":false}},{"name":"idPessoa","type":"Number","length":"","null":false,"default":false,"searchable":false,"form":false},{"name":"idEscola","type":"Number","length":"","null":true,"default":false,"searchable":false,"form":false},{"name":"idCurso","type":"Number","length":"","null":true,"default":false,"searchable":false,"form":false},{"name":"DataCad","type":"Date","length":"","null":false,"default":"Date()","searchable":false,"form":false},{"name":"isActive","type":"Boolean","length":"","null":false,"default":"1","searchable":false,"form":false}]

-->
    